@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.card-container{
    width:80vw;
    margin-left: auto;
    margin-right: auto;
}

.featured-listings-title{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}